.row.col-centered > [class*='col-'] { 
    display: inline-block;
}

.row.col-centered {
    margin: 50px;
}

img.prof {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 500px;
}

img.ta {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

button {
  width: 200px;
  font-size: 20px;
}

body {
  background-image: 'static/background.jpg';
}